/* Start Global Rule */
:root{
    --main-color: #7dd87d;
    --black-color: #130849;
    --red-color: #f54300;
    --background-color: #ffffff;
    --section-padding:100px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
ul{
    list-style:none;
}
html{
    scroll-behavior:smooth;
}
.scroll-btn{
    position:fixed;
    width:50px;
    height: 50px;
    bottom:40px;
    right:40px;
    background-color:var(--main-color);
    border-radius: 50%;
    z-index: 555;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:22px;
    text-decoration: none;
}
/* Small Screen */
@media(min-width:768px){
    .container{
        width:750px;
    }
}
/* Medium Screen */
@media(min-width:992px){
    .container{
        width:970px;
    }
}
/* Large Screen */
@media(min-width:1200px){
    .container{
        width:1170px;
    }
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
/* Start Component  */
 button{
    padding:13px 25px;
    border:none;
    background-color: var(--main-color);
    border-radius: 25px;
    text-transform:capitalize;
    font-weight:bold;
    color:white;
    transition: all 0.3s ease;
}
 button:hover{
    background-color:var(--black-color);
}
.container .special-heading{
    text-align: center;
    margin:0 0 60px;
}
.container .special-heading h2{
   color:var(--red-color);
   font-size: 30px;
}
.container .special-heading h1{
    color:var(--black-color);
    text-transform:capitalize;
    font-size:30px;
}
/*  End Component  */
/* --------End Global Rule ------------*/
/* ------------Start Header -----------*/
header{
    width:100%;
    position:fixed;
    z-index: 354;
    background-color:var(--background-color);
    border-bottom: 1px solid #ccc;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo img{
    width:140px;
}
header .container nav{
   display: flex;
   justify-content: center;
   align-items:center;
}
header .container nav .menu-icon{
    font-size:28px;
    color:var(--black-color);
    display: none;
}
@media(max-width:767px){
    header .container nav .menu-icon{
        display: block;
    }
}
header .container nav ul{ 
    display:flex;
}
@media(max-width:767px){
    header{
        padding:10px 0;
    }
    header .container nav ul{
        display: none;
    } 
    header .container nav .menu-icon:hover + ul {
        right:0;
    }
    header .container nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        position:absolute;
        width:100%;
        height:100vh;
        top:100%;
        right:-100%;
        background-color:#f4f4f5;
        transition: all 0.5s ease;
    }
    header .container nav ul .fa-solid.fa-cart-plus{
        margin: 10px 0;
    }
}
header .container nav ul li{
    padding:25px 0;
    margin-left:10px;
}
header .container nav ul li a{
    text-decoration:none;
    text-transform: capitalize;
    color:var(--black-color);
    font-weight: bold;
    transition: all 0.3s ease;
}
header .container nav ul li a:hover,
header .container nav ul li a.active{
    color:var(--main-color)
}
header .container nav ul i{
    font-size:22px;
    margin:auto 10px ;
    transition: all 0.3s ease;
}
header .container nav ul i:hover{
   color: var(--main-color);
}
header .container .btn{
    padding:13px 25px;
    border:none;
    background-color:var(--black-color);
    border-radius: 25px;
    text-transform:capitalize;
    font-weight:bold;
    color:white;
    transition: all 0.3s ease;
}
 
header .container .btn:hover{
    background-color: var(--main-color);
}
@media(max-width:767px){
    header .container button{
        display:none;
    } 
}
/*------------ End Header ------------*/
/*------------  Start Landing------------*/
.landing{
 width: 100%;
 height: 100vh; 
}
.landing .container{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50% , -50%);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.landing .container .text h2{
    color:var(--red-color);
    font-size:36px;
    font-weight: normal;
} 
.landing .container .text h1{
   font-size: 47px;
   color:var(--black-color);
} 
.landing .container .text p{
    color:#777;
    margin:0 0 35px;
}
.landing .container .text button{
    border:none;
    padding:14px 25px;
    background-color:var(--main-color);
    border-radius:25px;
    color:white;
    transition:all 0.3s ease;
}
.landing .container .text button:hover{
    background-color:var(--black-color);
}
.landing .container .imag img{
    /* min-width:420px; */
    max-width:440px;
}  
/* @media(max-width:767px){
    .landing .container .imag img{
       display:none;
    }  
    .landing .container {
        width:100%;
        text-align:center;
    } 
} */
@media (max-width:767px){
    .landing .container{
        flex-direction:column;
        position:relative;
        top:65%;
        text-align:center;
    }
    .landing .container .text{
        margin-bottom: 30px;
    }
    .landing .container .text h1{
        font-size:40px;
      
    }
    .landing .container .imag img{
         max-width:360px;
     }  
}
@media(max-width:500px){
    .landing .container .text h1{
        font-size:30px;
      
    }
    .landing .container .imag img{
        max-width:290px;
    } 
}
/*------------ End Landing ------------*/
/*------------  start about ------------*/
.about{
    padding-top:var(--section-padding);
   /* padding-bottom: var(--section-padding); */
    background-image: url(../imags/feature.svg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
     
   
}
/*.about::before{
    content:url(../imags/feature.svg);
    position:absolute;
    max-width:100%;
    height: 100vh;
    left: 0;
    top: 0;
    right:0;
    bottom: 0;
    z-index: -333;
    object-fit:cover;
} */
.about  .container .content{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.about .content .imag img{
    width:500px;
 
   /* height:500px; */
}
.about .content .article{
    margin-bottom: 160px;
}
.about .content .article h1{
   margin:0 0 40px;
   font-size:40px;
   text-transform:capitalize;
}

.about .content .article p{
   color:#777;
   margin:0 0 60px;
}
@media(max-width:767px){
    .about  .container .content{
        display: flex;
        flex-direction: column-reverse;
        justify-content:flex-end;
        align-items: center;
        text-align: center;
    }
    .about .content .article{
        margin:0 0 30px;
         
     }  
     .about .content .imag img{
         max-width:100%;
     }
}
/*------------ End about ------------*/
/*------------ sttart menu ------------*/
.menu{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding); 
    background-color:#f5f5f5;
}
.menu .main-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.menu .main-content .order{
    background-color:white;
    border-radius: 15px;
    padding:20px;
    text-align:center;
    box-shadow:10px 10px 10px #ccc;
    transition:all 0.3s ease;
}
.menu .main-content .order:hover{
    transform:scale(1.06);
}
.menu .main-content .order img{
    width:100px;
    height:100px;
    border-radius:50%;
}
.menu .main-content .order h2{
    text-transform:capitalize;
    font-size:30px;
    margin:20px 0;
}
.menu .main-content .order p{
    margin:20px 0;
    color:#777;
    text-transform:capitalize;
}
.menu .main-content .order span{
    color:var(--red-color);
    font-size:18px;
    font-weight:bold;
}
/*------------ End menu------------*/
/*------------Start teams ------------*/
.teams{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:#f5f5f5f5;
}
.teams .our-team{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;
}
.teams .our-team .box{
    text-align: center;
    padding:20px;
    border-radius: 20px;
    background-color:white;
    transition: all 0.3s ease;
}
.teams .our-team .box:hover{
    box-shadow:10px 10px 10px #ddd;
}
.teams .our-team .box img{
   width:100px;
  height:100px;
  border-radius: 50%;
  border:3px solid var(--main-color);
}
.teams .our-team .box h2{
   margin:10px 0;
}
.teams .our-team .box h4{
  margin:10px 0;
  color:var(--red-color);
}
.teams .our-team .box p{
    color:#777;
    margin:15px 0;
}
.teams .our-team .box ul{
  display: flex;
  justify-content: center;
  align-items: center;

}
.teams .our-team .box ul li{
    margin-left:10px;
    font-size: 22px;
    color:rgb(15, 146, 246);
}
/*------------End teams  ------------*/
/*------------ Start Subscriber -----*/
.subscribe{
   padding-top:var(--section-padding);
   padding-bottom:var(--section-padding);
   background-color:#f5f5f5f5;

}
.subscribe .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:60px;
    background-color: white;
    border-radius:20px;
    box-shadow:10px 10px 5px #eee;
}
@media(max-width:767px){
    .subscribe .container{
        flex-direction: column;
        text-align: center;
        padding:20px
    }
    .subscribe .container .first{
        margin-bottom: 50px;
    }
    .subscribe .container .first form{
        margin:0 auto;
        /* margin-left:80px */
    }
}
.subscribe .container .first img{
   margin:20px 0 30px;
    
 }
 .subscribe .container .first form{
    position: relative;
    width:300px;
    max-width:100%;
 } 
 .subscribe .container .first form input[type="email"]{
    width: 100%;
    display:inline-block;
    outline:none;
    padding:15px 20px 15px 60px;
    border:1px solid var(--main-color);
    border-radius:25px;
 }
 .subscribe .container .first form input[type="submit"]{
    display: inline-block;
    position:absolute;
    top:50%;
    transform:translate(-50%, -50%);
    right:-55px;
    padding:15px 20px;
    border-radius:25px;
    border:none;
    background-color:var(--main-color);
    border:1px solid var(--main-color);
    color:white;

 }
 .subscribe .container .first form i{
    position:absolute;
    top:50%;
    transform:translate(-50% , -50%);
    left:30px;
    color:rgb(16, 116, 239);
    font-size: 22px;
 }
 .subscribe .container .second h3{
     font-size: 30px;
     text-transform:capitalize;
     color:var(--red-color)
 } 
 .subscribe .container .second h3 span{
   display: inline-block;
   margin:20px 0;
   color:var(--black-color)
}
.subscribe .container .second p{
   color:#777;
} 
/*------------ End Subscriber ----------*/
/*------------ Start Blog ----------*/
.blogs{
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
    background-image:url(../imags/blog.svg);
    /* background-position: center; */
    background-size:contain;
    z-index: -344;
}
.blogs .main-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 25px;

}
.blogs .main-content .blog{
  border-radius:20px;
  background-color:#f4f5f5;
  transition:all 0.3s ease;
  box-shadow:10px 10px 10px #aaa;

}
.blogs .main-content .blog:hover{
    transform:scale(1.07)
}
.blogs .main-content .blog img{
    width:100%;
    height:330px;
    padding: 0;
  border-radius:20px;

}
.blogs .main-content .blog .text{
    padding:20px;
}
.blogs .main-content .blog span{
   display: inline-block;
   color:#777;
   margin:10px  0;
}
.blogs .main-content .blog  p{
    font-size: 17px;
    margin:5px 0 15px;
}
.blogs .main-content .blog h4{
    color:var(--main-color);
}
.blogs .main-content .blog h4 i{
    margin-left:10px;
}
/*------------ End Blog----------*/
/*------------ start footer----------*/
.footer{
    background-color:#333;
    padding-top:calc( var(--section-padding) / 2 );
    padding-bottom:calc( var(--section-padding) / 2 );
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;
    text-align: center;
    color:white;

}
.footer .container .one ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px 0 0;
}
.footer .container .one ul li{
    margin:0 10px;
    font-size: 23px;
    transition: all 0.2s ease;
}
.footer .container .one ul li:hover{
    color:var(--main-color)
}
.footer .container > div >h2{
   margin:0 0 20px 0;
   text-transform: capitalize;
   transition: all 0.2s ease;
}
.footer .container > div >h2:hover{
   color:var(--red-color)
}
.footer .container > div:not(.one) ul li{
   margin:10px 0;
   transition: all 0.3s ease;
} 
.footer .container > div:not(.one) ul li:hover{
    color:var(--main-color);
    transform:translatex(10px)
}
.footer .container .four ul li{
    margin:20px 0;
}
.footer .container .four ul li i{
  margin-right:10px;
  font-size: 22px;
}
.footer .text{
    text-align: center;
    margin:60px 0 10px;
    color:white;
  
}
.footer .text p{
    font-size: 20px;
}
.footer .text p span:last-child{
    color: var(--main-color);
    font-size:28px;
    font-weight:bold;
}
/*------------ End footer----------*/







   